* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-flex {
    display: flex;
}
.filler {
    flex-grow: 1;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    text-transform: uppercase;
    padding: 10px 20px;
    &:hover {
        background-color: $text_color_primary;
        color: $text_color_tertiary;
    }
}
.b1 {
    background-color: $primary_red;
    color: $text_color_primary;
    border: none;
}
.b2 {
    background-color: transparent;
    color: $text_color_primary;
    border: 1px solid $text_color_primary;
}
.text-container{
    text-align: center;
    h2 {
        text-transform: capitalize;
        font-size: 30px;
        color: $text_color_primary;
    }
    .rule {
        width: 150px;
        height: 1px;
        background-color: $hr_primary;
        margin: 20px auto;
    }
    p {
        color: $text_color_secondary;
    }
}
ul {
    list-style: none;
}