* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
.container-flex {
    display: flex;
}
.filler {
    flex-grow: 1;
}
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        cursor: pointer;
    }
}
h1 {
    font-size: 100px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 17px;
}
h4 {
    font-weight: lighter;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
button {
    text-transform: uppercase;
    padding: 15px 30px;
    &:hover {
        background-color: $text_color_primary;
        color: $text_color_tertiary;
        cursor: pointer;
    }
}
.b1 {
    background-color: $primary_red;
    color: $text_color_primary;
    border: none;
}
.b2 {
    background-color: transparent;
    color: $text_color_primary;
    border: 1px solid $text_color_primary;
}
.text-container{
    text-align: center;
    width: 600px;
    margin: auto;
    h2 {
        text-transform: capitalize;
        color: $text_color_primary;
    }
    .rule {
        width: 200px;
        height: 1px;
        background-color: $hr_primary;
        margin: $default_spacing/2 auto $default_spacing/4*3;
    }
    p {
        color: $text_color_secondary;
        font-size: 13px;
    }
}
ul {
    list-style: none;
}
.clickable:hover {
    cursor: pointer;
}