// colori
// bottone
$primary_red: #ea4a56;
// nav window e banner album
$secondary_red: #eb4b54;
// nav text
$tertiary_red: #f68994;

// bianco
$text_color_primary: #fefefe;
// grigio chiaro
$text_color_secondary: #aeaeaf;
// nero
$text_color_tertiary: black;

// hr forse
$hr_primary: #859fb4;

// bg
$bg_color_primary: #323844;
$bg_color_secondary: #252a33;

// li rifaccio a mano che vengono meglio i colori, valà
$collection_width: 1000px;