// colori
$primary_red: #ea4a56;
$secondary_red: #eb4b54;
$tertiary_red: #f68994;

// testi
$text_color_primary: #fefefe;
$text_color_secondary: #aeaeaf;
$text_color_tertiary: black;

// hr
$hr_primary: #859fb4;

// bg
$bg_color_primary: #323844;
$bg_color_secondary: #252a33;

$collection_width: 1000px;

// spacing
$default_spacing: 40px;
$section_padding: $default_spacing/2*3;

//transitions
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);