footer {
    * {
        font-family: 'Times New Roman', Times, serif;
    }
    .logo-banner {
        padding: $default_spacing;
        background-color: $bg_color_secondary;
        align-items: center;
        ul {
            li {
                display: inline-block;
                margin-left: $default_spacing/2;
                a {
                    color: $text_color_secondary;
                    text-transform: capitalize;
                    text-decoration: none;
                    font-size: 12px;
                    &:hover {
                        color: $text_color_primary;
                    }
                }
            }
        }
    }
    .credits-banner {
        padding: $default_spacing;
        background-color: $bg_color_primary;
        align-items: center;
        ul {
            li {
                display: inline-block;
                color: $text_color_secondary;
            }
        }
        .credits {
            li {
                padding: 0 $default_spacing/4;
                font-size: 11px;
                &:nth-child(n+2) {
                    border-left: 1px solid $text_color_secondary;
                    text-transform: uppercase;
                }
            }
        }
        .socials {
            li {
                text-align: center;
                width: 30px;
                height: 30px;
                line-height: 30px;
                background-color: $bg_color_secondary;
                margin-left: $default_spacing/4;
                &:hover {
                    color: $text_color_primary;
                }
            }
        }
    }
}