#s1 {
    background-color: $bg_color_primary;
    .redbar {
        width: 300px;
        height: 10px;
        margin: auto;
        background-color: $secondary_red;
    }
    .text-container {
        padding: 40px 0;
    }
}

#s2 {
    background-color: $bg_color_secondary;
    padding: 50px 0;
    .main {
        width: $collection_width;
        height: $collection_width * 1.2;
        margin: 20px auto 0;
        .left {
            width: calc((100% - 20px) / 3 * 2);
            flex-wrap: wrap;
            margin-right: 20px;
            .horizontal {
                width: 100%;
                height: calc((100% - 20px * 2) / 4);
            }
            .vertical {
                width: calc((100% - 20px) / 2);
                height: calc((100% - 20px * 2) / 2);
                margin: 20px 0;
                &:nth-child(2) {
                    margin-right: 20px;
                }
            }
        }
        .right {
            width: calc(100% / 3);
            .vertical {
                width: 100%;
                height: calc((100% - 20px) / 2);
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }
        .item {
            background-size: cover;
            position: relative;
            .text-box {
                background-color: $bg_color_primary;
                padding: 20px;
                position: absolute;
                bottom: 0;
                width: 100%;
                h3 {
                    color: $secondary_red;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
                p {
                    color: $text_color_secondary;
                }
            }
            &:hover {
                .text-box {
                    height: 100%;
                    background-color: #ea4a569c;
                    h3 {
                        color: $text_color_primary;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: calc(100% - 40px);
                        text-align: center;
                    }
                    p {
                        display: none;
                    }
                }
            }
        }
        #i1 {
            background-image: url("../../images/blog_music_techo-1200x600.jpg");
        }
        #i2 {
            background-image: url("../../images/blog-post3-600x900.jpg");
        }
        #i3 {
            background-image: url("../../images/blog-post4-600x900.jpg");
        }
        #i4 {
            background-image: url("../../images/blog_flavor_rock-1200x600.jpg");
        }
        #i5 {
            background-image: url("../../images/blog-post1-600x900.jpg");
        }
        #i6 {
            background-image: url("../../images/blog-post2-600x900.jpg");
        }
    }
}

#s3,
#s6 {
    button {
        width: 100%;
        height: 100%;
        padding: 40px 0;
    }
}

#s4 {
    background-image: url("../../images/home-testimonial-parallax.jpg");
    background-size: cover;
    padding: 200px 0;
    .textbox {
        width: 500px;
        margin: auto;
        p {
            color: $text_color_primary;
            font-style: italic;
            text-align: center;
            line-height: 20px;
        }
        img {
            display: block;
            margin: auto;
            width: 60px;
            height: 60px;
            margin-top: 30px;
        }
    }
}

#s5 {
    background-color: $bg_color_secondary;
    padding: 40px 0;
    .text-container {
        margin-bottom: 25px;
    }
    ul {
        list-style: none;
        width: $collection_width;
        margin: auto;
        li {
            background-color: $bg_color_primary;
            padding: 15px;
            margin-bottom: 8px;
            span {
                color: $text_color_primary;
                display: inline-block;
                height: 15px;
                width: 15px;
                text-align: center;
                margin-right: 15px;
                line-height: 15px;
            }
            .open {
                background-color: $primary_red;
                &::after {
                    content: "-";
                }
            }
            .closed::after {
                content: "+";
            }
            & > p {
                display: inline-block;
                color: $primary_red;
                text-transform: uppercase;
            }
            .expansion {
                margin-top: 15px;
                .map-container {
                    position: relative;
                    & > img {
                        height: 300px;
                        width: 400px;
                        margin-right: 15px;
                    }
                    .marker {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 25px;
                        height: 25px;
                        background-color: $primary_red;
                        border-radius: 50%;
                        text-align: center;
                        img {
                            width: 15px;
                            height: 15px;
                            filter: brightness(5);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                        }
                        .tip {
                            width: 15px;
                            height: 15px;
                            transform: rotate(45deg);
                            position: absolute;
                            bottom: -1px;
                            left: 5px;
                            background-color: $primary_red;
                        }
                    }
                }
                .textbox {
                    text-align: left;
                    flex-direction: column;
                    justify-content: space-between;
                    h3 {
                        color: $text_color_primary;
                        margin-top: 15px;
                    }
                    p {
                        color: $text_color_secondary;
                        line-height: 30px;
                    }
                    button {
                        display: inline-block;
                        align-self: flex-start;
                    }
                }
            }
        }
    }
}
