nav {
    background-image: url("../../images/home_slider.jpg");
    // da mettere un po' a posto l'immagine
    background-position: center;
    .navbar {
        padding: 20px 30px;
        align-items: center;
        img {
            height: 50px;
        }
        i {
            color: $text_color_primary;
            font-size: 30px;
        }
    }
    .textbox {
        text-align: center;
        color: $text_color_primary;
        padding: 100px 0 200px;
        h1 {
            font-size: 50px;
        }
        p {
            font-style: italic;
            margin: 30px 0 40px;
        }
    }
}