nav {
    background-image: url("../../images/home_slider.jpg");
    background-position: center;
    background-size: 100%;
    height: 100vh;
    position: relative;
    .navbar {
        width: 100%;
        padding: $default_spacing/2 $default_spacing;
        align-items: center;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        img {
            height: 50px;
        }
        i {
            color: $text_color_primary;
            font-size: 30px;
        }
    }
    .navmenu {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $primary_red;
        z-index: 1;
        overflow: hidden;
        transition: height 0.5s $easeOutCubic;
        &.notActive {
            height: 0;
        }
        ul {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            li {
                text-align: center;
                margin-bottom: $default_spacing;
                a {
                    color: $tertiary_red;
                    text-decoration: none;
                    font-size: 23px;
                    z-index: 3;
                    &:hover {
                        color: $text_color_primary;
                    }
                }
            }
        }
    }
    .textbox {
        text-align: center;
        color: $text_color_primary;
        @include absoluteCenter;
        p {
            font-style: italic;
            font-size: 20px;
            margin: $default_spacing/4*3 0 $default_spacing;
        }
        button {
            margin: 0 $default_spacing/8;
        }
    }
}